.section__primary {
	display: flex;
	justify-content: space-between;
}

.section__private {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 48px;
}

.section__navbar {
	display: flex;
	width: 400px;
	padding: 60px 0 100px 100px;
	min-height: 120vh;
	flex-direction: column;
	align-items: flex-start;
	background: #e8e8e8;
}

.profil__img img {
	width: 67px;
	height: 67px;
	border-radius: 50px;
	margin-right: 20px;
}

.section__nav-item {
	margin-bottom: 40px;
}

.section__nav-item:last-child {
	margin-bottom: 0;
}

.section__nav-item a {
	color: var(--text-primary);
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.48px;
	text-decoration: none;
}

.section__nav-item a.active {
	font-weight: 700;
}

.profil__content {
	margin-left: 73px;
}

.title {
	margin-top: 60px;
	margin-bottom: 40px;
}

.profil__section-items {
	display: flex;
}

.cart {
	width: 257px;
	margin-right: 40px;
}

.cart-body {
	border: 1px solid #000;
}

.cart-text {
	color: var(--text-primary);
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.36px;
	margin-bottom: 0;
	padding: 9px 16px;
}

.input__item {
	display: flex;
}

.input__item input {
	width: 570px;
	padding: 12px 31px;
	border-radius: 20px;
	background: #e5e5e5;
	border: none;
	outline: none;
}

.btn-danger {
	padding: 10px;
	border-radius: 10px;
	background: #db1d1d;
	color: #f8f8f8;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.36px;
}
